<nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
  <div class="container">
    <%= link_to images_path, class: "navbar-brand" do %>
      <p>ReadMyImage<p>
    <% end %>
  </div>
</nav>
